@model WebApplication5.Models.User

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Bilgilerini Güncelle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .form-group {
            border-radius: 25px; /* Yumuşak köşeler için */
            margin-bottom: 1rem; /* Alanlar arasındaki boşluk */
        }

        .form-control {
            border-radius: 25px; /* Input alanları için yumuşak köşeler */
        }

        .btn-primary {
            border-radius: 25px; /* Butonun köşelerini yumuşat */
            padding: 10px 20px; /* Buton içi boşluk */
            background-color: #007bff; /* Buton arka plan rengi */
            border: none; /* Kenarlık yok */
        }

            .btn-primary:hover {
                background-color: #0056b3; /* Hover durumunda buton rengi */
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Kullanıcı Bilgilerini Güncelle</h2>
                        @using (Html.BeginForm("Profil", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Eposta, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-primary">Bilgileri Güncelle</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
