<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Icons Kütüphanesi Ekleyin -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-bg-primary">
        <div class="container">
            @Html.ActionLink("EchoCCS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Müşteri Kayıt", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Müşteri Listesi", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Müşteri Aktiviteleri", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <!-- Profil için sağa hizalama -->
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ChangePassword", "Home")">
                            <i class="bi bi-lock"></i> Parola Güncelle <!-- Bootstrap ikonu ekleyin -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Profil", "Home")">
                            <i class="bi bi-person"></i> @ViewBag.Username <!-- Kullanıcı adı -->
                            </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-danger" href="@Url.Action("Giris", "Giris")">
                            <i class="bi bi-box-arrow-in-left"></i>  
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EchoCCS Tüm Hakları Saklıdır.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
